GTZAN_ZIP_PATH=
GTZAN_GENRES_ORIGINAL=
GTZAN_GENRES_3_SEC_ORIGINAL=
GTZAN_IMAGES_ORIGINAL=
GTZAN_IMAGES_3_SEC_ORIGINAL=

GZTAN_TRAIN_DIR=
GZTAN_VALIDATION_DIR=
GZTAN_TEST_DIR=

GZTAN_TRAIN_3SEC_DIR=
GZTAN_VALIDATION_3SEC_DIR=
GZTAN_TEST_3SEC_DIR=

FMA_GENRES_PATH=
FMA_METADATA_PATH=
FMA_SMALL_DATASET_PATH=

FMA_TRAIN_DIR=
FMA_VALIDATION_DIR=
FMA_TEST_DIR=
FMA_IMAGES_PATH=